@{
    ViewData["Title"] = "";
}

<div class="text-center">  
    <div class="col-md-9">
        <div class="text-center justified-text">
            <h1 class="display-4">Seja muito bem vindo!</h1>
            <p>Puxe uma cadeira e prepare-se para uma experiência gamer incrível! Aqui na Game Store, somos apaixonados por jogos e estamos prontos para fornecer tudo o que você precisa para a sua aventura virtual.</p>
            <p>Nossa loja online é o seu destino para encontrar os títulos mais empolgantes, os consoles mais potentes e os acessórios mais descolados. Quer você seja um mestre dos jogos ou apenas esteja começando, temos algo especial reservado para cada um de vocês.</p>
            <p>Navegue pelo nosso vasto catálogo de jogos através do [Menu <b>Gestão de Produtos</b>] e encontre as últimas novidades, os clássicos nostálgicos e até mesmo aqueles jogos indie supercriativos que você não pode perder.</p>
            <p>Ah, e não se preocupe, temos as melhores ofertas para garantir que sua carteira não fique triste.</p>
            <p>Então, prepare-se para entrar no mundo dos jogos com a Game Store! Estamos animados para fazer parte da sua história gamer. Vamos jogar juntos e conquistar novos horizontes!</p>
            <h2>Game Store - Sua loja gamer online favorita. Vamos ganhar esse jogo juntos!</h2>
        </div>
        <div id="carrossel" class="container">
            <img src="~/img/img01.png" />
            <img src="~/img/img02.png" />
            <img src="~/img/img03.png" />
            <img src="~/img/img04.png" />
        </div>
</div>
