@model GameStore.Domain.Dtos.ProdutoDto

@{
    ViewData["Title"] = "Create";
}

<h3>Gestão de Produtos</h3>

<h4>Cadastro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-controller="Produto" asp-action="Create" method="post" class="form-container" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrecoUnitarioStr" class="control-label"></label>
                    <input asp-for="PrecoUnitarioStr" class="form-control" />
                    <span asp-validation-for="PrecoUnitarioStr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Categoria" class="control-label"></label>
                    <input asp-for="Categoria" class="form-control" />
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Arquivo" class="control-label"></label>
                    <input asp-for="Arquivo" type="file" class="form-control" />
                    <span asp-validation-for="Arquivo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </form>
        </section>
    </div>
</div>

<div>
    <a asp-action="IndexLista" class="btn btn-warning">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
